# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [38]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [54]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head(10)

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban
5,South Latoya,2019-03-11 12:26:48,9.52,1994999424437,10,Urban
6,New Paulville,2019-02-27 11:17:56,43.25,793208410091,44,Urban
7,Simpsonburgh,2019-04-26 00:43:24,35.98,111953927754,21,Urban
8,South Karenland,2019-01-08 03:28:48,35.09,7995623208694,4,Urban
9,North Jasmine,2019-03-09 06:26:29,42.81,5327642267789,33,Urban

## Deliverable 1: Get a Summary DataFrame

In [40]:
#  1. Get the total rides for each city type
pyber_data_df_ride = pyber_data_df.groupby(['city'])
pyber_data_df_ride['ride_id'].count().head(10)

city
Amandaburgh        18
Barajasview        22
Barronchester      16
Bethanyland        18
Bradshawfurt       10
Brandonfort        19
Carriemouth        27
Christopherfurt    27
Colemanland        22
Davidfurt          17
Name: ride_id, dtype: int64

In [41]:
# 2. Get the total drivers for each city type
pyber_data_df_driver = pyber_data_df.groupby('city')
pyber_data_df_driver['driver_count'].sum().head(10)

city
Amandaburgh         216
Barajasview         572
Barronchester       176
Bethanyland         396
Bradshawfurt         70
Brandonfort         190
Carriemouth        1404
Christopherfurt    1107
Colemanland         506
Davidfurt           391
Name: driver_count, dtype: int64

In [42]:
#  3. Get the total amount of fares for each city type
pyber_data_df_fares = pyber_data_df.groupby('city')
pyber_data_df_fares['fare'].sum().head(10)

city
Amandaburgh        443.55
Barajasview        557.31
Barronchester      582.76
Bethanyland        593.21
Bradshawfurt       400.64
Brandonfort        673.31
Carriemouth        764.49
Christopherfurt    661.55
Colemanland        679.68
Davidfurt          543.93
Name: fare, dtype: float64

In [43]:
#  4. Get the average fare per ride for each city type. 
pyber_data_df_ride['fare'].mean().head(10)

city
Amandaburgh        24.641667
Barajasview        25.332273
Barronchester      36.422500
Bethanyland        32.956111
Bradshawfurt       40.064000
Brandonfort        35.437368
Carriemouth        28.314444
Christopherfurt    24.501852
Colemanland        30.894545
Davidfurt          31.995882
Name: fare, dtype: float64

In [44]:
# 5. Get the average fare per driver for each city type. 
pyber_data_df_driver['fare'].mean().head(10)

city
Amandaburgh        24.641667
Barajasview        25.332273
Barronchester      36.422500
Bethanyland        32.956111
Bradshawfurt       40.064000
Brandonfort        35.437368
Carriemouth        28.314444
Christopherfurt    24.501852
Colemanland        30.894545
Davidfurt          31.995882
Name: fare, dtype: float64

In [68]:
#  6. Create a PyBer summary DataFrame. 
pyber_summary_df = pyber_data_df["type"]
pyber_summary_df = (
    {
        "": ['Rural','Suburban','Urban'],
        "Total Rides": [pyber_data_df_ride],
        "Total Drivers": [pyber_data_df_driver],
        "Total Fares": [pyber_data_df_fares],
        "Average Fare per Ride": [pyber_data_df_ride],
        "Average Fare per Driver": [pyber_data_df_driver]
    })
# pyber_summary_df.index.name = 'type'
pyber_summary_df#.head(10)

{'': ['Rural', 'Suburban', 'Urban'],
 'Total Rides': [<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001FB4BA56130>],
 'Total Drivers': [<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001FB4BA568B0>],
 'Total Fares': [<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001FB4BA56670>],
 'Average Fare per Ride': [<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001FB4BA56130>],
 'Average Fare per Driver': [<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001FB4BA568B0>]}

In [65]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None

AttributeError: 'dict' object has no attribute 'index'

In [18]:
#  8. Format the columns.
quantityFormat = "{:,.0f}".format
largeQuantityFormat = "{:.0f}".format
moneyFormat = "${:.2f}".format
pyber_summary_df["fare"] = pyber_summary_df["fare"].map(moneyFormat)
pyber_summary_df["ride_id"] = pyber_summary_df["ride_id"].map(largeQuantityFormat)
pyber_summary_df["driver_count"] = pyber_summary_df["driver_count"].map(quantityFormat)
pyber_summary_df

NameError: name 'pyber_summary_df' is not defined

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [ ]:
# 1. Read the merged DataFrame

In [ ]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.

In [ ]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()

In [ ]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date.

In [ ]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.

In [ ]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [ ]:
# 7. Check that the datatype for the index is datetime using df.info()

In [ ]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [ ]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')